.main {
    padding: 0;

    .inner {
        margin: 0;
    }
}
.container {
    margin: 0;
    animation: alternate;
}

body {
    background-color: salmon;
}

img {
    width: 400px;
    height: 400px;
    object-fit: fill;
    border: 3px solid blue;
}